<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016.
  ~ Bu uygulamanın tüm hakları Mozo Yazılıma aittir. Uygulama üzerinde yapılacak tüm değişiklikler üretici firmaya aittir. 3. tarafların uygulama üzerinde yapacakları değişiklikler yasal işleme tabidir.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozo.meyaz.gerisay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>